{% macro show_proj_content(project) %}
    <div>
        {% for content in project.project_content %}
            {% if content.content_type.value == 'img'%}
                {{ image_content(content) }}
            {% endif %}
            {% if content.content_type.value == 'text'%}
                {{ text_content(content) }}
            {% endif %}
            {% if content.content_type.value == 'gif'%}
                {{ gif_content(content) }}
            {% endif %}
            {% if content.content_type.value == 'group'%}
                {{ content_group(content) }}
            {% endif %}
            {% if content.content_type.value == 'carousel'%}
                {{ carousel_content(content) }}
            {% endif %}
            {% if content.content_type.value == 'video'%}
                {{ video_content(content) }}
            {% endif %}
            {% if content.content_type.value == 'model'%}
                {{ model_content(content) }}
            {% endif %}
            {% if content.content_type.value == 'pdf'%}
                {{ pdf_doc(content) }}
            {% endif %}
        {% endfor %}
    <div>
{% endmacro %}

{% macro pdf_doc(content) %}
        <div>
            <h5 class="text-light" style="text-align: center;">{{ content.text_content }}</h5>
            <embed src="{{content.content_url}}#toolbar=0" width="100%"; height="520px" type="Application/pdf">
        </div>
{% endmacro %}

{% macro model_content(content) %}
    <div>
        <p>Load Model.. in dev</p>
    </div>
{% endmacro %}

{% macro video_content(content) %}
    <div>
        <div style="display:flex; justify-content: center; width: auto; height: auto;">
            <video controls autoplay muted playsinline loop width="98%;"height="auto;">
                <source src="{{content.content_url}}" type="video/mp4">
            </video>
        </div>
    </div>
{% endmacro %}

{% macro image_content(content) %}
    {% if content.position.value == 'left'%}
        <img class="img-fluid rounded" style="float: left; max-width: 100%;" src="{{content.content_url}}" alt="">
    {% elif content.position == 'center'%}
        <div style="display: flex; justify-content:center">
            <img class="img-fluid rounded m-3" style=" max-width: 100%;" src="{{content.content_url}}" alt="">
        </div>
    {% elif content.position.value == 'right'%}
            <img class="rounded" style="float:right; max-width: 100%;" src="{{content.content_url}}" alt="">
    {% else %}
        <div style="display: flex; justify-content:center;">
            <img class="img-fluid rounded m-3" src="{{content.content_url}}" alt="">
        </div>
    {% endif %}
{% endmacro %}

{% macro text_content(content) %}
    {% if content.position.value == 'left'%}
        <p class="text-light mx-2" style="text-align: left;">{{content.text_content}}</p>
    {% elif content.position == 'center'%}
        <p class="text-light mx-2" style="text-align: center;">{{content.text_content}}</p>
    {% elif content.position.value == 'right'%}
        <p class="text-light mx-2" style="text-align: right;">{{content.text_content}}</p>
    {% else %}
        <p class="text-light" style="text-align: center;">{{content.text_content}}</p>
    {% endif %}
{% endmacro %}

{% macro gif_content(content) %}
    {% if content.position.value == 'left'%}
        <img  class=" mx-auto rounded" src="{{content.content_url}}" alt="animated gif" style="float: left; max-height: 100%; width:auto;" />
    {% elif content.position == 'center'%}
        <img  class=" mx-auto rounded" src="{{content.content_url}}" alt="animated gif" style="max-height: 100%; width:auto;"/>
    {% elif content.position.value == 'right'%}
        <img  class=" mx-auto rounded" src="{{content.content_url}}" alt="animated gif" style="float: right; max-height: 100%; width:auto;" />
    {% else %}
        <img  class=" mx-auto rounded" src="{{content.content_url}}" alt="animated gif" style="max-height: 100%; width:auto;"/>
    {% endif %}
{% endmacro %}

{% macro content_group(content_group) %}
    <div class="row m-3" style=" overflow:hidden;">
        {% if content_group.heading %}
            <div class="col-12" style="text-align: center;">
                <h3 style="color: white;" >{{ content_group.heading }}</h3>
            </div>
        {% endif %}
        {% for content in content_group.group_contents %}
            {% if content.content_type.value == 'img'%}
                <div class="col" style="display: flex; align-items:center;">
                    {{ image_content(content) }}
                </div>
            {% endif %}
            {% if content.content_type.value == 'text'%}
                <div class="col" style="display: flex; align-items:center;">
                    {{ text_content(content) }}
                </div>
            {% endif %}
            {% if content.content_type.value == 'gif'%}
                <div class="col" style="display: flex; align-items:center;">
                    {{ gif_content(content) }}
                </div>
            {% endif %}
            {% if content.content_type.value == 'carousel'%}
                <div class="col" style="display: flex; align-items:center; justify-content:center;">
                    {{ carousel_content(content) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% macro carousel_content(content) %}
    <div id="{{content.content_title}}" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{content.carousel_items[0].desc}}</h5>
                </div>
                <img src="{{content.carousel_items[0].content_url}}" alt="" style="max-width: 100%; display:block">
            </div>
            {% for item in content.carousel_items %}
                {% if loop.index0 != 0 %}
                    <div class="carousel-item">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{item.desc}}</h5>
                        </div>
                        <img src="{{item.content_url}}" alt="" style="max-width: 100%; display:block">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#{{content.content_title}}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#{{content.content_title}}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    </div>
{% en