<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <title>Projects</title>
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a href="/" class="navbar-brand">Zion C Johnson</a>
                <div class="collaspe navbar-collaspe" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/skills">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h1 class="text-center gy-5">My Projects</h1>

        <div class="container-fluid text-center">
            <div class="row gy-5">
                <h2>3D Printed Smart Mirror</h2>
                <div class="col">
                    <h4>Mirror Features</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Gesture Control</li>
                        <li class="list-group-item">Auto Rotation</li>
                        <li class="list-group-item">Voice Commands</li>
                        <li class="list-group-item">OpenAI Chat-GPT</li>
                        <li class="list-group-item">3w Speakers</li>
                        <li class="list-group-item">Simple Augment reality Applications</li>
                        <li class="list-group-item">Ambient lighting</li>
                    </ul>
                    
                </div>

                <div class="col">
                    <h4>Printer Go Brr..</h5>
                    <img src="{{url_for('static', filename='/Photos/DSC00189.JPG')}}" alt="Printer printing Part" class="img-fluid" style="max-width: 500px; max-height: 800px;" >
                </div>
            </div>
            <div class="col">
                <h2>EMP used to simulate photosynthesis</h2>
            </div>
        </div>

        </div>
    </body>
</html>